<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1512909006721-3d6018887383?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1>Drawing names for <strong>secret santa</strong> has never <strong>been easier </strong>!</h1>
    <p>Set up the title, the names and we'll take care of the rest.</p>
    <a class="btn btn-flat" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Try now!</a>
  </div>
</div>
<div class="container mt-3 mb-3 text-center">
  <h1>
    Joining a draw?
  </h1>
  <%= link_to 'Click here', root_path, class: 'btn btn-flat' %>
</div>
<%= render partial: "shared/modal", locals: { user: @user } %>
