<div class="container mt-3 mb-3 text-center", style='min-height: 77vh;'>
  <h1>Your draws</h1>
  <p>You have got: <%= @draws.count %> draws</p>
  <% if @draws.count > 0 %>
    <% @draws.each do |draw| %>
    <div class="container d-flex justify-content-between mt-2">
      <div class="draw-title">
        <h1><%= draw.title.capitalize %></h1>
      </div>
      <div class="add-partecipant">
        <%= link_to 'Add parteciapant', '#', class: 'btn btn-flat' %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
